/*div {
    margin-bottom: 10px;
    position: relative;
}*/

/*input[type="number"] {
    width: 100px;
}*/

/*input + span {
    padding-right: 30px;
}*/

/*
input:invalid+span:after {
    position: absolute; content: '✖';
    padding-left: 5px;
    color: #8b0000;
}

input:valid+span:after {
    position: absolute;
    content: '✓';
    padding-left: 5px;
    color: #009000;
}*/
textarea {
    resize: none;
}

textarea.form-control {
    height: 70px;
}

.profile-text1 {
    font-weight: bold;
    height: 50px;
    margin-left:5px;
    color:gray;
}

.profile-form {
    margin-right: 10px;
}