.column1-title{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    width: auto;
}

.column2-title{
    width: auto;
    font-weight: bold;
}

.button-group {
    margin-top: 10px;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    outline:0;
    border: 0;
}

.button-text{
    margin-left: 5px;
    margin-top: 5px;
    outline:0;
    border: 0;
}

.role-column1{
    margin-left: 15px;
    margin-right: 15px;
    margin-top:50px;
    border-bottom: 1px solid #C4C4C4;
}

.role-column{
    margin-left: 15px;
    margin-right: 15px;
    margin-top:5px;
    border-bottom: 2px;
    border-bottom: 1px solid #C4C4C4;
}

.role-checkbox{
    right: 25px;
}