.gray-text{
    font-style: normal;
    font-weight: bold;
    color: #919FA2;
    font-size: 25px;
    line-height: 47px;
    padding-left: 20px;
}

.add-button{
    width: 225px;
    height: 30px;
    margin-top: 15px;
    margin-left: 60px;
    background: #5380B7;
    border-radius: 10px;
}

.search-bar{
    width: 225px;
    margin-top: 50px;
    margin-bottom: 30px;
}


.table-top-line{
}

.search-image{
    margin-top: 55px;
    margin-left: 5px;
}
